@import ../_vars

.btn
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	position: relative
	font-size: $fzMain
	font-family: $ffMain
	border-radius: 50px
	transition: .3s
	cursor: pointer
	font-weight: 700
	&.--blue
		color: #fff
		background-color: $color-blue
		&:hover
			background-color: darken($color-blue, 10%)
	&.--sm
		font-size: 13px
		min-height: 55px
	&.--md
		min-height: 65px
	&.--lg
		min-height: 70px