.advantages
	.case
		.advantages__title.h2 Наши преимущества
		.advantages__list.row
			.advantages__item.adv
				.adv__icon
					img(src="upload/pros/pros-tickets.svg", alt="")
				.adv__title Официальные билеты
				.adv__desc Продажа официальных билетов на матчи КХЛ. Билеты на хоккей, представленные на сайте, всегда в наличии!
			.advantages__item.adv
				.adv__icon
					img(src="upload/pros/pros-price.svg", alt="")
				.adv__title Лучшие цены
				.adv__desc Наши менеджеры смогут удовлетворить желания каждого клиента и подобрать доступный вариант по стоимости.
			.advantages__item.adv
				.adv__icon
					img(src="upload/pros/pros-vip.svg", alt="")
				.adv__title VIP билеты
				.adv__desc У нас всегда есть VIP-места на любой матч с участием вашей любимой команды!