mixin logo(classes)
	a(class=classes href="")
		.logo__icon
			img(src="upload/logo.png", alt="alt")
		.logo__title Официальные билеты на матчи
header.header(class=isMain ? '--main' : false)
	.header__case.case.mid.row
		+logo('header__logo logo')
		.header__ham#ham
				div
				div
				div
		.header__wrap.row#nav
			.header__nav
				ul
					li.--selected
						a(href="") Купить билеты
					li
						a(href="") Команды
					li 
						a(href="") Стадионы
					li 
						a(href="") Новости
					li.--cart
						a(href="") Корзина #[var 5]
			.header__divider
			.header__phone.phone
				a(href="") +7 (995) 950-50-50  