.how-to
	.case
		.how-to__title.h2 Как купить билет
		.how-to__wrap.row
			.how-to__actions.action
				.action__item
					.action__number 01
					.action__title Выбрать событие
				.action__item
					.action__number 02
					.action__title Выбрать категорию #[br]билета
				.action__item
					.action__number 03
					.action__title Оформить заказ
				.action__item
					.action__number 04
					.action__title Получить билеты #[br] на эл. почту или курьером
			.how-to__text
				p Благодаря остроте и накалу страстей на ледовой арене, билеты на хоккей пользуются огромным спросом по всему миру: и не только среди ярых фанатов и болельщиков, но и среди просто любителей этого командного вида спорта. Хоккей с шайбой вне всяких сомнений можно назвать самым распространённым и популярным из всех разновидностей хоккея. На StubHub вы найдёте билеты на хоккейные матчи в рамках КХЛ, Чемпионата мира по хоккею, Кубка Первого канала и других соревнований, а также сможете оформить заказ онлайн легко и надежно. Кроме того, у нас можно узнать расписание хоккейных матчей, чтобы выбрать наиболее подходящие вам даты игр.
				p Никто точно не может назвать ни время, ни место, где появился хоккей. Традиционно принято считать родиной этой командной игры с шайбой Канаду, где зимой первые хоккеисты привязывали к обуви резаки для сыра и отправлялись играть на покрытые льдом реки и озёра. Однако также сохранились изображения из Голландии, датированные 16 веком, на которых показана игра, очень похожая на хоккей. Зато точно известно, что первые хоккейные матчи состоялись в конце 19 века, тогда же были разработаны и чёткие правила этой игры, которые применяются и по сей день.
				p Говоря об истории хоккея с шайбой в России, начать стоит, конечно, с легендарной, непобедимой сборной СССР, которая 22 раза выигрывала золото Чемпионатов мира и 7 раз становилась лучшей на Олимпийских играх. Неслучайно одна из самых популярных советских песен на спортивную тематику, это, конечно, «В хоккей играют настоящие мужчины, трус не играет в хоккей». К счастью, традиции не были утрачены, и хоккей с шайбой остаётся одним из самых популярных командных видов спорта в России и продолжает успешно собирать скандирующих фанатов на ледовых аренах Москвы, Санкт-Петербурга и других городов нашей страны. Из года в год тысячи верных болельщиков ЦСКА, СКА, Динамо Москва, Ак Барса, Авангарда, Металлурга и других команд следят за изменениями турнирной таблицы КХЛ в надежде увидеть свой клуб.