.info.row
	.info__item
		.info__img
			img(src="upload/rect.jpg", alt="")
		.info__text Именно сибиряки открыли счет в игре - на первой минуте второго периода отличился О`Делл. Этот счет продержался почти до самого конца матча. Однако последняя пятиминутка осталась за "бело-голубыми". На 56-й минуте Яшкин сравнял счет после передачи Чайковски. А на предпоследней минуте отличился уже сам Чайковски.
	.info__item
		.info__img
			img(src="upload/rect.jpg", alt="")
		.info__text Именно сибиряки открыли счет в игре - на первой минуте второго периода отличился О`Делл. Этот счет продержался почти до самого конца матча. Однако последняя пятиминутка осталась за "бело-голубыми". На 56-й минуте Яшкин сравнял счет после передачи Чайковски. А на предпоследней минуте отличился уже сам Чайковски.

	.info__item.--w3
		.info__img
			img(src="upload/rect.jpg", alt="")
		.info__text Именно сибиряки открыли счет в игре - на первой минуте второго периода отличился О`Делл. Этот счет продержался почти до самого конца матча.
	.info__item.--w3
		.info__img
			img(src="upload/rect.jpg", alt="")
		.info__text Именно сибиряки открыли счет в игре - на первой минуте второго периода отличился О`Делл. Этот счет продержался почти до самого конца матча.
	.info__item.--w3
		.info__img
			img(src="upload/rect.jpg", alt="")
		.info__text Именно сибиряки открыли счет в игре - на первой минуте второго периода отличился О`Делл. Этот счет продержался почти до самого конца матча.

	.info__item.--w4
		.info__img
			img(src="upload/rect.jpg", alt="")
		.info__text Именно сибиряки открыли счет в игре - на первой минуте второго периода отличился О`Делл.
	.info__item.--w4
		.info__img
			img(src="upload/rect.jpg", alt="")
		.info__text Именно сибиряки открыли счет в игре - на первой минуте второго периода отличился О`Делл.
	.info__item.--w4
		.info__img
			img(src="upload/rect.jpg", alt="")
		.info__text Именно сибиряки открыли счет в игре - на первой минуте второго периода отличился О`Делл.
	.info__item.--w4
		.info__img
			img(src="upload/rect.jpg", alt="")
		.info__text Именно сибиряки открыли счет в игре - на первой минуте второго периода отличился О`Делл.