.news-page.row
	.news-page__img
		img(src="upload/news/news.png", alt="")
	.news-page__text
		.news-page__date 6.10.2020
		.news-page__desc
			p В очередном матче Кубка мэра Москвы ЦСКА обыграл 4:3 "Динамо" благодаря серии буллитов. Армейцы открыли счет в матче уже на 46-й секунде усилиями Слепышева. Однако "бело-голубые" провели суперударный отрезок, забив #[br] с 5-й по 8-ю минуты сразу три шайбы. Их авторами стали Тарасов, Хиетанен (реализовал большинство) и Пулкиннен. Однако больше "Динамо" в этой игре забросить не смогло.
			p В начале второго периода с интервалом в одну минуту Слепышев и Локтионов провели по шайбе, позволив ЦСКА сравнять счет. Встреча в итоге дошла #[br]до серии буллитов, в которой армейцы взяли верх за счет точного броска.