.slider
    .slider__list
        .slider__item
            .slider__img(style="background-image: url('upload/bg/bg-intro.png')")
            .case
                .slider__title.h2 Официальные билеты на матчи КХЛ
                a.slider__btn.btn.--blue.--md(href="tickets.html") Купить билеты
        .slider__item
            .slider__img(style="background-image: url('upload/bg/bg-intro.png')")
            .case
                .slider__title.h2 Билеты на кубок #[br]первого канала
                a.slider__btn.btn.--blue.--md(href="tickets.html") Купить билеты
        .slider__item
            .slider__img(style="background-image: url('upload/bg/bg-intro.png')")
            .case
                .slider__title.h2 Билеты на чемпионат #[br]мира 2021
                a.slider__btn.btn.--blue.--md(href="tickets.html") Купить билеты
    .slider__nav
        .slider__nav-item Билеты на КХЛ
        .slider__nav-item Билеты на кубок #[br]первого канала
        .slider__nav-item Билеты на чемпионат #[br]мира 2021

    .slider__arrows.arrows