.stadiums.row
	a.stadiums__item(href="")
		.stadiums__img(style="background-image: url('upload/stadiums/spartak.png')")
		.stadiums__title Стадион ХК Спартак
	a.stadiums__item(href="")
		.stadiums__img(style="background-image: url('upload/stadiums/tsska.png')")
		.stadiums__title Стадион ХК ЦСКА
	a.stadiums__item(href="")
		.stadiums__img(style="background-image: url('upload/stadiums/dinamo.png')")
		.stadiums__title Стадион ХК Динамо
	a.stadiums__item(href="")
		.stadiums__img(style="background-image: url('upload/stadiums/auto.png')")
		.stadiums__title Стадион ХК Автомобилист
	a.stadiums__item(href="")
		.stadiums__img(style="background-image: url('upload/stadiums/akbars.png')")
		.stadiums__title Стадион ХК Ак Барс
	a.stadiums__item(href="")
		.stadiums__img(style="background-image: url('upload/stadiums/amur.png')")
		.stadiums__title Стадион ХК Амур