.team.row
	.team__data
		.team__img #[img(src=dataTeams[3][2] alt="")]
		.team__stadium #[a(href="upload/stadium.png" data-fancybox="") Стадион]
	.team__text
		p 17 марта 2016 года был подписан договор о намерениях создать китайскую команду в Континентальной хоккейной лиге. Документ был подписан президентом Федерации хоккея России Владиславом Третьяком, председателем совета директоров КХЛ Геннадием Тимченко, а также руководством «Куньлунь Ред Стар». Президент Международной федерации хоккея на льду Рене Фазель одобрил появление китайского клуба и выразил надежду, что это поможет развитию данного вида спорта в Китае.