.text
	h2 Заголовок
	p Клубы Континентальной хоккейной лиги продолжают подготовку в стартующему сезону, проводя товарищеские поединки. В одном из таких предсезонных матчей московское "Динамо" одержало волевую победу над новосибирской "Сибирью" со счетом 2:1.
	p Именно сибиряки открыли счет в игре - на первой минуте второго периода отличился О`Делл. Этот счет продержался почти до самого конца матча. Однако последняя пятиминутка осталась за "бело-голубыми". На 56-й минуте Яшкин сравнял счет после передачи Чайковски. А на предпоследней минуте отличился уже сам Чайковски.
	ul
		li Несмотря на итоговый счет, поединок против "Сочи"
		li Пучкова не стал для СКА легкой прогулкой
		li На 53-й минуте эти два хоккеиста СКА поменялись ролями
