- 
    var dataTeams = [
        [
            'Спартак',
            'Москва',
            'upload/teams/spartak.png'
        ],
        [
            'Автомобилист',
            'Екатеринбург',
            'upload/teams/auto.png'
        ],
        [
            'Сибирь',
            'Новосибирск',
            'upload/teams/eagle.png'
        ],
        [
            'Куньлунь РС',
            'Пекин',
            'upload/teams/redstar.png'
        ],
        [
            'Сибирь',
            'Новосибирск',
            'upload/teams/sibir.png'
        ],
        [
            'СКА',
            'Cанкт-Пeтepбypг',
            'upload/teams/ska.png'
        ],
        [
            'XK Динамo',
            'Москва',
            'upload/teams/dinamo.png'
        ],
        [
            'ЦСКА',
            'Москва',
            'upload/teams/tsska.png'
        ],
        [
            'Барыс',
            'Нур-Султан',
            'upload/teams/barys.png'
        ],
    ] 