@import _fonts
@import _vars
@import _reset
@import _grid

@import ../../libs/slick-carousel/slick/slick.css
@import ../../libs/fancybox/dist/jquery.fancybox.css

.bg-img
  background-repeat: no-repeat
  background-position: center
  background-size: cover

.h2
  font-size: 50px
  font-weight: 700
  line-height: 140%

// form-items
@import components/btn
@import components/input
@import components/textarea
@import components/select
@import components/checkbox
@import components/rdo
@import components/tooltip

// parts
@import parts/header
@import parts/slider
@import parts/preview
@import parts/page
@import parts/breadcrumbs
@import parts/filter
@import parts/selects
@import parts/tickets
@import parts/match
@import parts/table
@import parts/team
@import parts/cart
@import parts/incdec
@import parts/order
@import parts/pay
@import parts/text
@import parts/info
@import parts/footer