extends ../_template
block vars
	- var title = "Корзина"
	- 
		var breadcrumbs = [
			[
				'Главная',
				'index.html'
			],
			[
				'Купить билет',
				'tickets.html'
			],
			[
				title
			]
		]
block content
	include ../parts/cart
	include ../parts/order