extends ../_template
block vars
	- var title = "ЦСКА обыграл в серии буллитов «Динамо»"
	- 
		var breadcrumbs = [
			[
				'Главная',
				'index.html'
			],
			[
				'Новости',
				'news.html'
			],
			[
				title
			]
		]
block content
	include ../parts/news-item