extends ../_template
block vars
	- var title = "Стадион ЦСКА Арена"
	- 
		var breadcrumbs = [
			[
				'Главная',
				'index.html'
			],
			[
				'Стадионы',
				'stadiums.html'
			],
			[
				title
			]
		]
block content
	include ../parts/stadiums-item