extends ../_template
block vars
	- var title = "Куньлунь РС"
	- 
		var breadcrumbs = [
			[
				'Главная',
				'index.html'
			],
			[
				'Команды',
				'teams.html'
			],
			[
				title
			]
		]
block content
	include ../parts/teams-item