extends ../_template
block vars
	- var title = "Куньлунь РС"
	- 
		var breadcrumbs = [
			[
				'Главная',
				'index.html'
			],
			[
				'Команды',
				'teams.html'
			],
			[
				title
			]
		]
block content
	include ../parts/teams-item

	- var ticketsBuy = false
	.tickets__subtitle.h2 Таблица матчей
	.tickets__list.row
		+match(2, 3, '15:00', '16 сентября', 'Eкaтepинбypг', 'ВТБ Арена', false)
		+match(6, 3, '13:00', '15 сентября', 'Москва', 'Арена 2000', false)
		+match(3, 0, '20:00', '12 сентября', 'Санкт-Петербург', 'Арена Балашиха', false)
		+match(4, 3, '18:00', '9 сентября', 'Москва', 'Парк Легенд', false)
		+match(2, 3, '15:00', '16 сентября', 'Eкaтepинбypг', 'ВТБ Арена', false)
		+match(3, 6, '13:00', '15 сентября', 'Москва', 'Арена 2000', false)
		+match(0, 3, '20:00', '12 сентября', 'Санкт-Петербург', 'Арена Балашиха', false)
		+match(4, 3, '18:00', '9 сентября', 'Москва', 'Парк Легенд', false)
		+match(2, 3, '15:00', '16 сентября', 'Eкaтepинбypг', 'ВТБ Арена', false)
		+match(6, 3, '13:00', '15 сентября', 'Москва', 'Арена 2000', false)
		+match(0, 3, '20:00', '12 сентября', 'Санкт-Петербург', 'Арена Балашиха', false)
		+match(4, 3, '18:00', '9 сентября', 'Москва', 'Парк Легенд', false)