extends ../_template
block vars
	- var title = "Пример текстовой страницы"
	- 
		var breadcrumbs = [
			[
				'Главная',
				'index.html'
			],
			[
				title
			]
		]
block content
	include ../parts/textpage
	include ../parts/info