extends ../_template
block vars
	- var title = "Купить билет"
	- 
		var breadcrumbs = [
			[
				'Главная',
				'index.html'
			],
			[
				title
			]
		]
block content
	- var filterShow = true
	include ../parts/buy