.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  border-radius: 50px;
  transition: .3s;
  cursor: pointer;
  font-weight: 700; }
  .btn.--blue {
    color: #fff;
    background-color: #4871FF; }
    .btn.--blue:hover {
      background-color: #1549ff; }
  .btn.--sm {
    font-size: 13px;
    min-height: 55px; }
  .btn.--md {
    min-height: 65px; }
  .btn.--lg {
    min-height: 70px; }
