.text {
  max-width: 700px;
  line-height: 23px;
  color: #808080; }
  .text h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px; }
  .text h2, .text h3, .text h4 {
    color: #333333; }
  .text p {
    margin-bottom: 20px; }
  .text ul li {
    position: relative;
    display: block;
    padding-left: 20px;
    margin-bottom: 12px; }
    .text ul li:last-of-type {
      margin-bottom: 0; }
    .text ul li:before {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 6px;
      left: 0;
      border-radius: 50%;
      background-color: #EF233A; }
